<% provide(:title, "About") %>
<div class="center">
    <p>Exclusively for The Software House</p>
    <p>All game related images taken from <%= link_to "picoplex.net", "http://picoplex.net" %></p>
</div>
