<% provide(:title, "Help") %>
<div class="center">
    <p>Player chooses one of the gestures by clicking on its icon.</p>
    <p>The way gestures beat each other is visualised below.</p>
    <p><%= image_tag("rules.png", alt: "rules")%></p>
</div>
