<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>RPSSL</h1>
  <div><%= link_to "New Game", new_path, class: "btn btn-lg btn-primary" %></div>
  <div><%= link_to "Hall of Fame", hall_path, class: "btn btn-lg btn-primary" %></div>
</div>