<% provide(:title, 'Play') %>
<% if logged_in? %>
<h1><%= session[:user_name] %></h1>
<div class='main'>
    <h4>Score: <%= session[:user_points] %></h4>
    <h4>Longest streak: <%= session[:user_longest_streak] %></h4>
    <h4>Lives left: <%= session[:lives] %></h4>
</div>
<div align="center">
    <% $VAR_HANDS.each do |element| %>
    <%= link_to image_tag(element.to_s + ".png", class: 'image-responsive'), play_path(chosen: element), method: 'post', remote: true %>
    <% end %>
    <div><%= link_to "End game", play_path(chosen: 'game_over'), method: 'post', remote: true, class: "endbtn btn btn-lg btn-default" %></div>
</div>
    <% else %>
    <h1>You have to pick your name first.</h1>
    <h4>Redirecting to homepage in 5s.</h4>
    <meta HTTP-EQUIV="REFRESH" content="5; <%= root_path %>">
<% end %>
