<% provide(:title, 'Hall of Fame') %>
<div id='tablewrap'>
    <table style="width:35%" class='pointstable'>
        <col width="70%">
        <col width="30%">
        <caption>Players by points</caption>
            <tr>
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Score</th>
            </tr>
            <% @users_by_points.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.points.to_s %></td> 
            </tr>
            <% end %>
    </table>
    <table style="width:35%" class='streaktable'>
        <col width="70%">
        <col width="30%">
        <caption>Players by streak</caption>
            <tr>
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Longest streak</th>
            </tr>
            <% @users_by_streak.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td align="center"><%= user.longest_streak.to_s %></td> 
            </tr>
            <% end %>
    </table>
</div>