<% provide(:title, 'Pick your nickname') %>
<h1>Pick your nickname</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit "Play", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
