<h1>Game over.</h1>
<h2>Points: <%= @user.points %></h2>
<h2>Longest streak: <%= @user.longest_streak %></h2>
<div class="center sumbtn">
  <div><%= link_to "New Game", new_path, class: "btn btn-lg btn-primary" %></div>
  <div><%= link_to "Hall of Fame", hall_path, class: "btn btn-lg btn-primary" %></div>
</div>