<div class='main'>
    <div class='player'>
        <h2>You <%= "win" if @winner == :player %></h2>
        <div><%= image_tag(params[:chosen].to_s, alt: "Player hand image", class: 'vsimg')%></div>
    </div>
    <div class='computer'>
        <h2>Computer <%= "wins" if @winner == :computer %></h2>
        <div><%= image_tag(@computer_choice.to_s, alt: "Computer hand image", class: 'vsimg', id: 'compimg')%></div>
    </div>
    <div class='score'>
        <h4>Score: <%= session[:user_points] %></h4>
        <h4>Longest streak: <%= session[:user_longest_streak] %></h4>
        <h4>Lives left: <%= session[:lives] %></h4>
    </div>
</div>