// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-responsive{
    max-width: 60px;
    max-height: 60px;
}

.vsimg {
    max-width: 70px;
    max-height: 70px;
}


.player {
    position:absolute;
    left: 0px;
}

.computer {
    position:absolute;
    right: 0px;
}


.main {
    position:relative;
}

#compimg {
    position:absolute;
    right: 0px;
}

.sumbtn div {
  margin-top: 20px;
}

.endbtn {
    margin-top: 150px;
    text-align: center;
}