// Place all the styles related to the hall controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    margin-top: 30px;
}

tr:nth-child(even) {
    background-color: #C1DBE3;
}


caption {
    font-weight: bold;
    font-size: 3em;
}

.pointstable {
    position:center;
    float:left;
}
.streaktable {
    position:center;
    float:right;
}

#tablewrap { 
    overflow: hidden; 
}
